// main: style.less
.copyright {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  .copyright__text {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: @color-text;
  }
}

.page-footer__copyright {
  width: 280px;
  justify-content: space-between;
}

.copyright-logo {
  color: red;
}
