// main: style.less
.page-footer {
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;

  .page-footer__map {
    display: flex;
    width: 282px;
    justify-content: space-between;
    padding-left: 19px;
  }

  .page-footer__slogan {
    color: @color-text2;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .page-footer__logo {
    padding-bottom: 50px;
  }

  .page-footer__address-map {
    color: @color-text;

    font-size: 14px;
    line-height: 20px;
  }

  .page-footer__container {
    background-color: @basic-grey;
    display: block;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 22px;
  }
}
