// main: style.less
.product-item {
  display: flex;
  flex-wrap: wrap;
  width: 72px;
}

h1 {
  color: @secondary;
  font-size: 36px;
  line-height: 36px;
}

.product-item__name {
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey;
  text-transform: uppercase;
  text-decoration: none;
}

tr {
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: @color-text;
}

.button {
  color: @primary;
  padding-top: 7px;
  padding-right: 109px;
  padding-bottom: 7px;
  padding-left: 109px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background: @basic-green;
}

.catalog-all {
  display: block;
}

h2 {
  color: @color-text2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-all {
  color: @color-text;
  width: 280px;
  height: 40px;
  padding-top: 20px;
  padding-right: 94px;
  padding-bottom: 20px;
  padding-left: 94px;
  border: none;
  font-size: 16px;
  line-height: 0px;
  text-transform: uppercase;
}

.product-item__all {
  text-align: start;

  h2 {
    font-size: 24px;
    list-style: 24px;
    color: @secondary;
  }

  p {
    font-size: 16px;
    line-height: 16px;
    color: @special_dark-grey;
  }
}

.product-item__title p {
  font-size: 16px;
  line-height: 16px;
  color: @special_dark-grey;
  text-transform: uppercase;
}

.span {
  width: 280px;
  color: @color-text;
  font-size: 14px;
  line-height: 14px;
}

.product-item__button {
  color: @primary;
  width: 280px;
  height: 40px;
  padding-top: 20px;
  padding-right: 109px;
  padding-bottom: 20px;
  padding-left: 109px;
  font-size: 16px;
  line-height: 0px;
  text-decoration: none;
  text-transform: uppercase;
  background: @basic-green;
  box-sizing: border-box;
}
