// main: style.less
.program-item {
  width: 280px;
  margin-left: 20px;
  background-color: @basic-grey;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.progrem-item__container {
  margin-top: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.program-item__name {
  font-family: @family-name;
  font-size: 24px;
  color: @secondary;
  text-transform: uppercase;
  padding-left: 91px;

  &--slim,
  &--weight {
    position: relative;
    background-color: @basic-green;
    border-radius: 50%;
    width: 0;
    height: 50px;
  }

  &--slim::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 26px;
    background: url("@{img}icon-cat-slim.svg") no-repeat;
  }

  &--weight::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    left: 11px;
    background: url("@{img}icon-cat-pro.svg") no-repeat;
  }
}

.program-item__text {
  font-family: @family-name2;
  font-size: 14px;
  line-height: 18px;
  color: @color-text;
  padding-bottom: 23px;
  border-bottom: 1px solid @border-grey;
}

.program-item__link {
  position: relative;
  color: @secondary;
  text-decoration: none;
  font-family: @family-name;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &--arrow::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    background: url("@{img}icon-right-arrow-long.svg") no-repeat;
    top: 7px;
    right: -40px;
  }
}
