// main: style.less
.programs {
  background: url("@{img}index-background-mobile@1x.jpg") no-repeat;
  width: 320px;
  height: 305px;
  color: @primary;
  padding-bottom: 110px;

  .programs__wrapper {
    display: block;
    padding-left: 36px;
    padding-top: 27px;
  }
  h1 {
    width: 249px;
    height: 72px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }
  p {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    background: url("@{img}index-can-mobile@1x.png") no-repeat;
    width: 280px;
    height: 270px;
  }

  .food {
    color: @primary;
    padding-top: 15px;
    padding-right: 75px;
    padding-bottom: 15px;
    padding-left: 75px;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    background: @basic-green;
  }
}
