// Начните писать стили здесь

@import "./blocks/page-header.less";
@import "./blocks/main-nav.less";
@import "./blocks/programs.less";
@import "./blocks/program-item.less";
@import "./blocks/description.less";
@import "./blocks/slider.less";
@import "./blocks/page-footer.less";
@import "./blocks/page-section.less";
@import "./blocks/form-message.less";
@import "./blocks/product-item.less";
@import "./blocks/page-main.less";
@import "./blocks/description-feature.less";
@import "./blocks/copyright.less";
@import "./blocks/social.less";
@import "./blocks/page-catalog.less";
@import "./blocks/catalog-all.less";
@import "./blocks/filter-breadcrumbs.less";
@import "mixins.less";
@import "variables.less";
@import "normalize.less";
@import "grid.less";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

body {
  width: 320px;
  background-color: @primary;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}
